ion-title {
    text-align: center;
    color: darkgreen;
}

ion-grid {
    border-collapse: collapse;
    border-style: hidden;
    text-align: center;

    ion-row:first-child {
        background-color: lime;
        font-weight: bold;
    }

    ion-col {
        border: 1px solid black;
        border-bottom: 0;
        border-right: 0;
    }

    ion-col:last-child {
        border-right: 1px solid black;
    }

    ion-row:last-child {
        border-bottom: 1px solid black;
    }

    ion-item:last-child {
        text-align: center;
    }
}