.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  ion-label {
    text-align: center;
    margin: 10px;
  }

  ion-title,
  p {
    font-size: 30px;
    text-align: center;
    color: darkgreen;
  }

  .img {
    margin-top: 10rem;
  }

  ion-item {
    border: 0;
    align-items: flex-end;

  }

  .help {
    margin-top: 15rem;
    align-items: center;

    a {
      text-decoration: none;
      color: black;
      text-align: center;
      align-items: center;
    }
  }

}

h3 {
  text-align: center;
  color: black solid;
}