ion-title {
    text-align: center;
}


.ion-content {
    background-color: darkgreen;
    top: 10rem;
}

.button {
   margin-top: 20px;
 
    text-align: center;
}

.label-Button {

    margin: 20px;

}
.boton1{
    padding: 20px;
}