.center {
    display: grid;
    flex-direction: column;
    grid-row-gap: 1rem;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;


}

.container {
    width: 400px;
    margin: auto;
    margin-top: 20px;
}

img {
    margin-left: 30px;
    display: block;
    align-items: flex-start;
    justify-content: center;
    image-orientation: flip;
}