<ion-content class="ion-content">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-justify-content-center" size="6">
        <ion-title>Iniciar Sesion</ion-title>
        <form class="ion-margin-top" (submit)="login()">
          <ion-list>
            <ion-item>
              <ion-label position="floating" name="mail">Correo</ion-label>
              <ion-input required name="mail" [(ngModel)]="credentials.user" type="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label name="password" position="floating">Contraseña</ion-label>
              <ion-input required name="password" [(ngModel)]="credentials.password" type="password">
              </ion-input>
            </ion-item>
            <ion-button (click)="login()" expand="full">
              <ion-icon name="log-in-outline" slot="end"></ion-icon>
              <ion-label>Ingresar</ion-label>
            </ion-button>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>