<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div id="container">

  <ion-card>
    <ion-title>Nuevo Producto</ion-title>
    <form>
      <ion-item>
        <ion-label position="floating">Nombre del producto </ion-label>
        <ion-input required [(ngModel)]="data.nameProd" name="nameProd" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Proveedor</ion-label>
        <ion-input [(ngModel)]="data.supplier" name="shop" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Composicion</ion-label>
        <ion-input required [(ngModel)]="data.composition" name="composition" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Sustancia Peligrosa</ion-label>
        <ion-input required [(ngModel)]="data.danger" name="danger" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Numero Cas</ion-label>
        <ion-input required [(ngModel)]="data.numberCase" name="numberCase" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">No. Un (Trasporte)</ion-label>
        <ion-input required [(ngModel)]="data.transport" name="transport" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">URL Descarga FDS</ion-label>
        <ion-input required [(ngModel)]="data.url" name="url" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">URL Descarga FT</ion-label>
        <ion-input required [(ngModel)]="data.ft" name="url" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Ciudad</ion-label>
        <ion-select required [(ngModel)]="data.city" name="city" okText="Aceptar" cancelText="Cancelar">
          <ion-select-option *ngFor="let city of cities" [value]="city">{{city}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button expand="block" type="submit" (click)="createProduct()">
        Guardar
      </ion-button>
    </form>
  </ion-card>
</div>