<ion-content class="container">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="8">
        <ion-item button [routerLink]="['/report']">
          <ion-icon name="clipboard-sharp"></ion-icon>
          <ion-label>
            Reporte a Mantenimiento
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="8">
        <ion-item button [routerLink]="['/usermanagement']">
          <ion-icon name="people-outline"></ion-icon>
          <ion-label>
            Deacrargar Carta laboral
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="8" id="botones">
        <ion-item button [routerLink]="['/other-services']" disabled>
          <ion-icon name="reader"></ion-icon>
          <ion-label>
            Afiliaciones Actuales
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>