<ion-app>

  <ion-menu swipeEnabled="true" #menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="success shade">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-menu-toggle>
        <ion-item button [routerLink]="['/inicio']">
          <ion-icon name="home" slot="end"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item button [routerLink]="['/inventory']">
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>Quimicos
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item button [routerLink]="['/create-product']">
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>Nuevo Producto
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item button [routerLink]="['/report']" vertical="bottom">
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>Solicitudes
        </ion-item>
      </ion-menu-toggle>
      <ion-item button (click)="logout()">
        <ion-icon name="exit" slot="end"></ion-icon>
        <ion-label>Cerrar sesion</ion-label>
      </ion-item>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar no-border color="success shade">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <a href="/inicio" slot="end">
          <ion-title>
            ULTRALAV S.A.S
          </ion-title>
        </a>

      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-router-outlet>
      </ion-router-outlet>
    </ion-content>
  </div>

</ion-app>