<ion-header>
  <ion-toolbar>
    <ion-title>articles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h1></h1>
    <table border="1" *ngIf="register(); else sinarticulos">
      <tr>
        <td>codigo</td>
        <td>descripcion</td>
        <td>precio</td>
        <td>borrar</td>
        <td>seleccionar</td>
      </tr>
      <tr *ngIf="let art of articulos">
        <td>{{art.codigo}}</td>
        <td>{{art.descripcion}}</td>
        <td>{{art.precio}}</td>
        <td>
          <ion-button (click)="baja(art.codigo)">Borrar?</ion-button>
        </td>
        <td>
          <ion-button (click)="seleccionar(art.codigo)">Seleccionar</ion-button>
        </td>
      </tr>
    </table>
    <ng-template #sinarticulos>
      <p>No Hay Articulos</p>
    </ng-template>
    <div>
      <p>descripcion: <ion-input type="text" ([ngModel])="art.descripcion"></ion-input>
      </p>
      <p>precio: <ion-input type="number" ([ngModel])="art.precio"></ion-input>
      </p>
      <p>
        <ion-button (click)="up()">Agregar</ion-button>
      </p>
      <p>
        <ion-button (click)="modify()"></ion-button>
      </p>
    </div>
  </div>

</ion-content>