ion-content {
    --background: #000000a6 url('../../assets/imgs/148694495-croacia-isla-de-hvar-bol-vista-aérea-en-zlatni-rat-playa-y-mar-desde-el-aire-lugar-famoso-en.webp') 0 0/100% 100% no-repeat;

    display: flex;

    img {
        display: block;
        align-items: center;
        justify-content: center;
    }

    .log {
        margin-left: 10%;
    }

    .label {
        border: 1px solid black;
    }

    .data {
        margin-right: 10%;
    }

    .one {
        margin-left: 10%;
    }

    .pigto {
        margin-right: 10%;
        align-items: center;
        justify-content: center;
        text-align: center;

        .mag {
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }

    .foot {
        margin-left: 10%;
        margin-right: 10%;
    }

    .two {
        margin-right: 10%;
    }

    h1 {
        text-align: center;
        border: 5px solid rgba(253, 173, 0, 0.684);
        background-color: rgba(253, 173, 0, 0.684);

    }

    ion-grid {
        --ion-grid-column-padding: 5px;
        border-collapse: collapse;
        border-style: hidden;
        text-align: center;
        

        ion-col {
            background-color: white;
            border: 1px solid black;
            border-right: 0;
        }

        ion-col:last-child {
            border-right: 1px solid black;
        }

    }
}